<body>
    <main class="fadeIn">
        <p class="index">
            {{ currentIndex + 1 }} / {{ totalVideos }}
        </p>
          
        <div class="aside">
            <mat-accordion>
                <mat-expansion-panel class="transparent-panel" hideToggle>
                    <mat-expansion-panel-header 
                        matTooltip="Palette" 
                        matTooltipShowDelay="500" 
                        matTooltipPosition="right" 
                        aria-label="Expand Palette Colors" 
                        role="button" 
                        tabindex="0">
                        <mat-panel-title>
                            <mat-icon aria-label="Palette">palette</mat-icon>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="theme-buttons" aria-label="Select Theme">
                        <div class="colors purple" (click)="setTheme('purple')" aria-label="Theme Purple" role="button" tabindex="0"></div>
                        <div class="colors pink" (click)="setTheme('pink')" aria-label="Theme Pink" role="button" tabindex="0"></div>
                        <div class="colors blue" (click)="setTheme('blue')" aria-label="Theme Blue" role="button" tabindex="0"></div>
                        <div class="colors green" (click)="setTheme('green')" aria-label="Theme Green" role="button" tabindex="0"></div>
                        <div class="colors whine" (click)="setTheme('whine')" aria-label="Theme Whine" role="button" tabindex="0"></div>
                        <div class="colors cafe" (click)="setTheme('cafe')" aria-label="Theme Coffee" role="button" tabindex="0"></div>
                        <div class="colors gray" (click)="setTheme('gray')" aria-label="Theme Gray" role="button" tabindex="0"></div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion> 
        </div>
        <div class="adm">
            <div>
                <mat-icon
                  class="listicon fullscreen" 
                  matTooltip="Full Screen"
                  matTooltipShowDelay="500"
                  matTooltipPosition="below"
                  (click)="toggleFullScreen()"
                >
                  fullscreen
                </mat-icon>
              </div>
            <div>
                <mat-icon matTooltip="Radio List" matTooltipShowDelay="500" matTooltipPosition="below" class="listicon" (click)="toggleList()">list</mat-icon>
            </div>
            <div *ngIf="getLogin()" matTooltip="Adm" matTooltipShowDelay="500" matTooltipPosition="below">
                <mat-icon class="admicon" (click)="goAdm()" aria-label="Adm">assignment</mat-icon>
            </div>
        </div>
          
        <div class="musicArea">
            <div class="top">
                <div class="card">
                    <img [src]="randomImage" alt="Random Card">
                    <div class="background" [style.backgroundImage]="'url(' + randomImage + ')'"></div>
                    <div *ngIf="currentVideoOwner" class="video-owner">
                        <p>{{ currentVideoOwner }}</p>
                    </div>
                </div>
                <div class="title fadeIn">
                    <h2>
                        <ng-container *ngIf="currentVideoTitle; else loading">
                          {{ currentVideoTitle }}
                        </ng-container>
                        <ng-template #loading>
                          <mat-spinner class="spinner" diameter="24"></mat-spinner>
                        </ng-template>
                    </h2>                      
                </div>
            </div>
            <div class="down">
                <div class="button back" (click)="previousVideo()" matTooltip="Previous Radio" matTooltipShowDelay="500" matTooltipPosition="below">
                    <mat-icon>skip_previous</mat-icon>
                </div>
                <div class="button pause" (click)="togglePlayPause()" matTooltip="Play/Pause" matTooltipShowDelay="500" matTooltipPosition="below">
                    <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
                </div>                  
                <div class="button next" (click)="nextVideo()" matTooltip="Next Radio" matTooltipShowDelay="500" matTooltipPosition="below">
                    <mat-icon>skip_next</mat-icon>
                </div>
            </div>
            <div class="volume">
                <input 
                  type="range" 
                  id="volume-slider" 
                  min="0" 
                  max="100" 
                  step="1" 
                  [(ngModel)]="volume"
                  (ngModelChange)="setVolume($event)" 
                  [style.background]="getSliderBackground()"
                  [matTooltip]="'' + volume"
                  matTooltipShowDelay="500" 
                  matTooltipPosition="above"
                />
              </div>  
              
              <div class="list" [class.show]="showList">
                <mat-list class="video-list">
                    <mat-list-item *ngFor="let title of videoTitles; let i = index">
                        <span class="clickable-title" (click)="selectVideo(i)">
                            <mat-icon class="favorite" (click)="favorite(i, $event)">
                              {{ favorites[i] ? '♥' : '♡' }}
                            </mat-icon>
                            {{ i + 1 }}. {{ title }}
                          </span>
                        <div class="border"></div>
                    </mat-list-item>
                </mat-list>
              </div>
        </div>

        <youtube-player 
            id="youtube-player" 
            [ngStyle]="{'z-index': '-99', 'visibility': 'hidden', 'position': 'absolute', 'top': '-9999px'}"
            [height]="250" 
            [width]="500"
            aria-label="YouTube Video Player">
        </youtube-player>

        <div class="emoji-container">
            <div class="emojibutton" (click)="addEmoji('♥')">
              <span style="color: var(--clr-secondary);">♥</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('♡')">
              <span style="color: var(--clr-secondary);">♡</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('✦')">
              <span style="color: var(--clr-secondary);">✦</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('✧')">
              <span style="color: var(--clr-secondary);">✧</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('♫')">
              <span style="color: var(--clr-secondary);">♫</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('♪')">
              <span style="color: var(--clr-secondary);">♪</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('★')">
                <span style="color: var(--clr-secondary);">★</span>
            </div>
            <div class="emojibutton" (click)="addEmoji('☆')">
                <span style="color: var(--clr-secondary);">☆</span>
            </div>
        </div>

        <div class="footer">
            <div class="left">
                <a class="icon" 
                    href="https://github.com/emanuelsacoman" 
                    target="_blank" 
                    matTooltip="Author" 
                    matTooltipShowDelay="500" 
                    matTooltipPosition="above" 
                    aria-label="Author">
                    <mat-icon>code</mat-icon>
                </a>
                <!-- <a class="icon" 
                    href="https://codebucketweb.web.app" 
                    target="_blank" 
                    matTooltip="CodeBucket" 
                    matTooltipShowDelay="500" 
                    matTooltipPosition="above" 
                    aria-label="CodeBucket">
                    <img src="./assets/image/codebucket.webp" alt="CodeBucket">
                </a> -->

                <div class="usercount" matTooltip="Others Listening" matTooltipShowDelay="500" matTooltipPosition="above">
                    <mat-icon>person</mat-icon>
                    {{ connectedUsersCount }}
                </div>                  
            </div>
              
            <div class="floating-emojis">
                <div *ngFor="let emoji of floatingEmojis" 
                     class="emoji" 
                     [style.left]="emoji.x + '%'" 
                     [style.animationDuration]="emoji.animationDuration + 's'"
                     [style.animationDelay]="emoji.animationDelay + 's'"
                     [style.transform]="'scale(' + emoji.scale + ')'"
                     [style.transformOrigin]="'center'">
                  {{ emoji.emoji }}
                </div>
              </div>       
              
            <div class="right">
                <mat-icon class="icon"  [ngClass]="{'animate': isAnimating}" (click)="triggerAnimation()" matTooltip="Change Wallpaper" matTooltipPosition="above" matTooltipShowDelay="500">
                    autorenew
                </mat-icon>
                <a href="https://www.pexels.com" target="_blank" matTooltip="Images API" matTooltipShowDelay="500" matTooltipPosition="above">
                    <img src="https://images.pexels.com/lib/api/pexels-white.png" alt="Pexels"/>
                </a>
            </div>
        </div>
    </main>
      
</body>