<body>
    <main class="container">
        <div class="header item">
            <mat-icon class="icon" (click)="goBack()">
                arrow_back
            </mat-icon>
            <mat-icon class="icon" (click)="logout()">
              logout
            </mat-icon>
        </div>
        <div class="featureyellow item">
          <div class="usercount">
            <p class="user-label">People right now!</p>
            <div class="user-info">
              <mat-icon>person</mat-icon>
              <span>{{ connectedUsersCount }}</span>
            </div>
          </div>          
        </div>
        <div class="featurepurple item">
          <div class="quota-box" [ngClass]="{'out-of-quota': isQuotaExhausted()}">
            <h3>Status da Quota</h3>
            <p class="quota-status">
              <i class="status-icon" *ngIf="isQuotaExhausted()">&#9888;</i>
              {{ quotaStatus }}
            </p>

            <div *ngIf="isQuotaExhausted()" class="quota-warning">
              <p>
                <strong>Attention:</strong> You have exceeded your quota. The reset is scheduled for midnight UTC (which corresponds to 4 AM local time).
              </p>
            </div>
          </div>         
        </div>        
        <div class="featurered item">FEATURE-RED</div>
        <div class="signup item">
            <form class="formChip" (ngSubmit)="chipCreateForm()" [formGroup]="chipCreate" #formDir="ngForm">
                <div class="inputs-groups">
                  <div class="input-group">
                    <div class="input">
                      <input type="text" id="chipname" placeholder="Insira a rádio" formControlName="chipname" required/>
                    </div>
                  </div>
                  <button class="addbuton" type="submit">ADD</button>
                </div>
              </form>
        </div>
        <div class="content item">
          <div
            class="chips-container"
            cdkDropList
            [cdkDropListData]="chipArray"
            (cdkDropListDropped)="onDrop($event)"
            >
            <div
              class="chips"
              *ngFor="let chip of chipArray; let i = index"
              cdkDrag
              [cdkDragData]="chip"
            >
              <div class="cardchip" (click)="deleteChip(chip.id)">
                <p class="chipname">{{ chip.title || 'Carregando…' }}</p>
                <p class="creator" *ngIf="chip.creator">{{ chip.creator }}</p>
                <div class="order"><p>{{ chip.order }}</p></div>
              </div>
            </div>
          </div>

        </div>
    </main>
</body>