@use '@angular/material' as mat;

// Incluir estilos comuns do Angular Material
@include mat.core();

// Definir as paletas de cores para o tema
// Você pode usar paletas predefinidas ou criar as suas próprias.
$lofi-primary: mat.define-palette(mat.$indigo-palette);
$lofi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Definir a paleta de alerta (opcional, padrão é vermelho)
$lofi-warn: mat.define-palette(mat.$red-palette);

// Criar o objeto de tema com as configurações para as cores
$lofi-theme: mat.define-light-theme((
  color: (
    primary: $lofi-primary,
    accent: $lofi-accent,
    warn: $lofi-warn,
  )
));
// Incluir os estilos para todos os componentes do Angular Material
@include mat.all-component-themes($lofi-theme);
